.list-group {
  margin-bottom: 50px;
}

.list-group-item {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.toggle-none {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
}
