.goods {
  display: flex;
  margin: 0, auto;

  &__list {
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-direction: column;

    &-item {
      padding-bottom: 10px;
      margin-left: 300px;
    }
  }
}

.button__container {
  background-color: whitesmoke;
  height: 100vh;
  margin-top: -172px;
  position: sticky;
}

.button-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-color: transparent;
  border-radius: 30px;

  &:hover {
    animation: animate 8s linear infinite;
    cursor: pointer;
  }

  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }

  &:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }
}
