.page {
  width: 400px;
  margin: auto;
}

.page__header {
  text-align: center;
}

.page__content {
  display: flex;
  justify-content: space-between;
}

.page__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__button {
  height: 30px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: 5px;
}
