.wrapper-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #c30f3f;
  border: none;
  color: #fff;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.select {
  height: 50px;
  width: 100px;
  outline: none;
  background-color: #c30f3f;
  color: #fff;
  border: none;
  cursor: pointer;
}

.goods-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goods-item {
  list-style: none;
  font-family: sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}
