.GoodsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border-radius: 10px;
  background-color: burlywood;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.493);

  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

  &__item {
    padding: 3px;
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 20px;
    outline: none;
  }

  &__button {
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  }

  &__button--m-b {
    margin-bottom: 20px;
  }
}