.goods__list {
  padding-bottom: 30px;
  font-size: 18px;
}

.goods__sort {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 116px;
}
