ul,
li {
  margin: 0;
  padding: 0;
}

.list {
  font-family: "Courier New", Courier, monospace;
}

.list__name {
  text-align: center;
}

.list__goods {
  text-align: center;
  list-style-type: none;
}

.list__button {
  margin: 5px;
  padding: 10px;

  font-family: "Courier New", Courier, monospace;
  background-color: #303f9f;
  color: white;

  border: 1px solid black;
  border-radius: 10px;
}

.list__button:hover {
  background-color: #1a237e ;
}
