.Goods {
  padding: 10px;
  box-shadow: 0 0 10px 4px rgb(186, 186, 186);
  border-radius: 8px 0;

  &__list {
    list-style: none;

    &__items {
      list-style-type: none;
      padding-left: 0;
    }

    &__item {
      font-size: 18px;
      text-align: center;
    }
  }
}

.Button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: italic;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(186, 186, 186);
  transition: box-shadow 0.3s;
  border-radius: 3px;

  &:hover {
    box-shadow: 0 0 5px 2px rgb(186, 186, 186);
  }
}
