.button {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
}

.start {
  box-shadow: 0 0 5px 5px rgb(66, 224, 35);
}

.reverse {
  box-shadow: 0 0 5px 5px rgb(190, 190, 47);
}

.alphabetical {
  box-shadow: 0 0 5px 5px rgb(0, 34, 128);
}

.reset {
  box-shadow: 0 0 5px 5px rgb(209, 41, 11) ;
}
