* {
  box-sizing: border-box;
}

html,
body,
select,
button,
h1 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

html {
  background: linear-gradient(60deg, rgba(215,239,231,1) 0%,
  rgba(157,231,215,1) 100%);
  width: 100%;
  height: 100%;
}
