@font-face {
  font-family: San Francisco;
  src: url("../../fonts/SFUIDisplay-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: San Francisco;
  src: url("../../fonts/SFUIDisplay-Semibold.ttf");
  font-weight: 600;
}
