body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
