.controls {
  display: flex;
  justify-content: center;

  &__button {
    width: 120px;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background: ivory;
    }
  }
}

.select {
  cursor: pointer;
  border-radius: 10px;
  outline: none;

  &:hover {
    background: ivory;
  }
}
