.Goods {
  width: 200px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
 
  &__item {
    padding: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
  }
}
