.goods {
  &__config {
    display: flex;
    margin-bottom: 0.5em;
  }

  &__button {
    font-family: inherit;
    font-size: 0.75rem;

    height: 3em;
    width: 8em;
    border-radius: 1em;
  }

  &__list {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: auto;
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
}
