.List {
  list-style: none;
  width: 250px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

.List__item {
  padding: 5px 0;
  font-size: 18px;
}

.List__item:nth-child(odd) {
  background: #f3f3f3;
}
