.GoodsList__wrapper {
  display: flex;
  padding: 50px;
  font-size: 28px;
  background-color: rgb(106, 166, 173);
  width: 200px;
  margin: 0 auto;
  border-radius: 8px;
}

.GoodsList {
  margin: 0 auto;
}

.GoodsList__link {
  margin-bottom: 10px;
}
