.goods {
  width: 100%;
  margin: 0 auto;

  border: 1px solid rgb(223, 215, 215);
  border-radius: 5px;

  &__list {
    padding: 0;
    margin-bottom: 20px;

    list-style: none;
  }

  &__item {
    padding: 5px 0;

    border-bottom: 1px solid rgb(223, 215, 215);
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background-color: rgb(216, 214, 214);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

    &-item {
      width: 120px;
      height: 42px;

      font-size: 16px;
      color: #000;
      cursor: pointer;

      border: 2px solid rgb(184, 184, 184);
      border-radius: 5px;
      transition: all 0.3s;

      &:hover {
        background-color: rgb(184, 184, 184);
      }
    }
  }
}
