.main {
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
}

.title {
  font-family: fantasy;
  font-weight: normal;
}

.list {
  list-style: none;
  margin: 0;
}

.button {
  margin: 12px;
}
