.showElement {
  display: block;
}

.hideElement {
  display: none;
}

.selectAndButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
