$c-light-green-bg: #d6ffe4;
$c-border-gray: #e4e4e4;
$c-white: #fff;
$c-grayish-white: #f3f3f3;
$c-light-gray: #d8d8d8;
$c-green: #377c5c;
$c-light-green: #158d8d;
$c-green-opaque: #a2b5ac;

$c-disabled-grey: rgb(116, 116, 116);

$c-button-grey: #c0c0c0;
