.button {
  box-shadow: 3px 4px 0 0 #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  margin-left: 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #810e05;
}

.button:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}

.button:active {
  position: relative;
  top: 1px;
}

.button:focus {
  outline: none;
}
