@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body,
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 0;
}

ul,
li {
  padding: 0;
}

.disabled {
  display: none;
}

.App {
  height: 100vh;

    &::before{
      content:'';
      display: block;
      background:url('./background/bread-g5c03222e4_1920.jpg') no-repeat bottom/cover;
      filter: blur(3px) brightness(0.7);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index:-1;
    }

  &__container {
    height: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    // filter: brightness(0.94);
  }

  &__title {
    padding: 10px 30px;
    width: 600px;
    text-align: end;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    color: rgb(1, 23, 79);
  }

  &__info {
    width: 600px;
    height: 400px;
    margin: 40px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__goods {
    font-family: "Kalam", sans-serif;
    font-weight: 400;
    font-size: 21px;
    height: 400px;
    width: 400px;
    padding: 20px 40px;
    border-radius: 12px;
    background-color: rgba(186, 169, 133, 0.97);
    list-style: none;
  }

  &__good {
    margin-bottom: 4px;
  }

  &__open {
    height: 400px;
    width: 400px;
    font-family: "Kalam", sans-serif;
    font-weight: 300;
    font-size: 30px;
    border-radius: 12px;
    border: rgb(140, 124, 89) solid 1px;
    background-color: rgb(186, 169, 133);

    &:active {
      box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.08) inset;
    }
  }

  &__sort {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    height: 34px;
    width: 144px;
    font-weight: bold;
    border-radius: 12px;
    color: rgb(215, 188, 160);
    border: rgb(22, 46, 87) ridge 3px;
    background-color: rgba(40, 74, 133, 0.97);
    box-shadow: 0 1px 6px 2px rgba(48, 52, 59, 0.3);
  }

  &__select {
    font-family: "Kalam", sans-serif;
    font-weight: bold;
    margin-left: 350px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    border: rgb(99, 38, 0) ridge 4px;
    background-color: rgb(193, 75, 3);
  }
}
