* {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

body {
  background-color: #d6ffe4;
}

button {
  cursor: pointer;

  &:disabled {
    &:hover {
      background-color: #fff;
      color: rgb(116, 116, 116);
    }
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100w;
  height: 100vh;
}

.GoodsAutomat {
  padding: 60px;
  border-radius: 6px;

  background-color: #fff;

  &__goods {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 4px;
    height: 350px;
    padding: 0 40px;
    margin-bottom: 16px;

    background-color: #377c5c;
  }

  &__length-limit {
    position: absolute;
    right: 25px;
    bottom: 25px;

    color: #a2b5ac;

    font-size: 14px;
  }
}

.ShowButton {
  height: 100px;
  width: 100px;
  border: 0;
  border-radius: 50%;

  background-color: #c0c0c0;
  color: #f3f3f3;

  &:hover {
    background-color: #d8d8d8;
  }
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.ActionButton {
  padding: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;

  background-color: #fff;

  &:hover {
    background-color: #158d8d;
    color: #fff;
  }
}
