body {
  background-color: lightcyan;
  text-align: center;
}

li {
  list-style: none;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 0.1em;
}

.buttonVisible {
  visibility: hidden;
}

.button {
	background: none;
	border-radius: 10px;
	padding: 20px;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	margin: 1em;

	&--blue {
		box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
		border: #0dd solid 2px;
	}

	&--blue:hover {
		background-color: #0dd;
		box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
	}

  &--green {
		box-shadow: inset 0 0 0.8em rgba(14, 110, 35, 0.5), 0 0 0.8em rgba(14, 110, 35, 0.5);
		border: rgb(25, 172, 25) solid 2px;
	}

	&--green:hover {
    background-color: rgb(25, 172, 25);
		color: rgba(0, 0, 0, 0.8);
		box-shadow: inset 0 0 0 rgba(14, 110, 35, 0.5), 0 0 1.2em rgba(14, 110, 35, 0.7);
	}

	&--red {
		box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
		border: #fb5454 solid 2px;
	}

	&--red:hover {
		background-color: #fb5454;
		box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
	}

	&--purple {
		box-shadow: inset 0 0 0.8em rgba(94, 42, 153, 0.5), 0 0 0.8em rgba(94, 42, 153, 0.5);
		border: rgb(132, 75, 179) solid 2px;
	}

	&--purple:hover {
    background-color: rgb(132, 75, 179);
		color: rgba(0, 0, 0, 0.8);
		box-shadow: inset 0 0 0 rgba(94, 42, 153, 0.5), 0 0 1.2em rgba(94, 42, 153, 0.7);
	}
}
