.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

#selectList {
  margin: 10px 0;
}
