@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Staatliches&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 30px;
}

body,
ul,
p {
  margin: 0;
  padding: 0;
}

.App {
  color: #ccc;
  font-family: "Shizuru", cursive;
  background-color: rgba(51, 51, 51, 0.97);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__title {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}

.App__subtitle {
  font-size: 1.5em;
  font-style: italic;
}

.App__btn {
  /* background-color: #bbb;
   */
  width: 100px;
  font-size: 0.5rem;
  background-color: rgba(51, 51, 51, 0.97);
  font-family: inherit;
  color: white;
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 15px;
}

.btn-on {
  color: green;
  box-shadow: -2px -2px 5px #222;
}

.btn-off {
  color: palevioletred;
  transform: scale(0.9);
}

.App__btn:hover {
  text-shadow: 2px 2px 4px black;
}

.App__sizeFild {
  width: 380px;
  position: absolute;
  right: 0;
  top: 74%;
  transform: rotate(90deg);
  transform-origin: top right;

}

.App__control {
  position: relative;
  height: max-content;
  width: max-content;
}
