$c-light:rgb(187, 115, 235);
$c-dark:rgb(105, 0, 105);

.App {
  height: 100vh;
  width: 100vw;

  background-color: $c-dark;

  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 150px;
  color: $c-light;
}

.button {
  height: 60px;
  width: 200px;
  background-color: $c-light;

  font-size: 30px;
  font-weight: 700;
  color: $c-dark;

  transition: all 0.5s;

  &:hover {
    color: $c-light;
    background-color: $c-dark;
  }
}

.list {
  box-sizing: content-box;
  border: 3px double rgb(101, 72, 161);
  padding: 15px;
  background-color: rgb(93, 0, 105);
  margin-bottom: 15px;

  &__item {
    font-size: 35px;
    font-weight: 600;
    color: $c-light;
  }

  &__button-reset,
  &__button {
    background-color: $c-light;
    color: $c-dark;
    font-weight: 600;

    transition: all 0.5s;

    &:hover {
      color: $c-light;
      background-color: $c-dark;
    }
  }



  &__button {
    &--active {
      background-color: $c-dark;
      color: $c-light;

      &:hover {
        color: $c-dark;
        background-color: $c-light;
      }
    }
  }
}

.select {
  background-color: $c-light;
  color: $c-dark;
  font-weight: 600;

  transition: all 0.5s;

  &:hover {
    color: $c-light;
    background-color: $c-dark;
  }
}
