html {
  background-color: #eee;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
  // display: flex;
}

.button {
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin: 0 0 0 40px;
  background-color: #91d18b;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  transition: background 250ms ease-in-out,
    transform 150ms ease;

  &:hover {
    background-color: #ea5455;
  }

  &:focus {
    background-color: #ea5455;
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
}
