.App {
  margin: 30px;
}

.button {
  margin: 20px 10px 10px 0;
}

.box {
  width: 490px;

  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: lightblue;
    color: white;
    transform: translateX(20px);
  }
}
