$base-color: #D18B49;
$gray: #eee;
$darkgray: rgb(190, 190, 190);
$background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $base-color;
}

.card {
  width: 500px;
  height: 450px;
  background-color: white;
  color: #666;
  border-radius: 12px;
  box-shadow: $box-shadow;
}

.card__title {
  text-align: center;
  margin-bottom: 0;
}

.list__conteiner {
  margin: 10px auto 0;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.button {
  font-weight: 700;
  border: none;
  margin: 0 5px;

  border-radius: 2px;
  color: #666;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s ease;
  background-color: #fff;

  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow;
    color: $base-color;
  }
}

button:disabled,
button[disabled]{
  border: none;
  background-color: #ccc;
  cursor:not-allowed;
  &:hover {
    box-shadow: none;
    color: #666;
  }
}

.button-start {
  font-weight: 900;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  background-color: $darkgray;
}

.button-container {
  display: flex;
  justify-content:space-around;
  margin: 30px 0;
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;

  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: $darkgray;
  background-image: none;
  cursor: pointer;
}

.select {
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 200px;
  height: 45px;
  border-radius: .25em;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 10px $gray;
  }
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: $gray;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
