.button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
  margin-top: 20px;
}

.button__func {
  display: block;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
